[submodule "profiles"]
	path = profiles
	url = https://github.com/px57/dj-profile
[submodule "index"]
	path = index
	url = https://github.com/px57/dj-index.git
[submodule "mediacenter"]
	path = mediacenter
	url = https://github.com/px57/dj-media-center.git
[submodule "kernel"]
	path = kernel
	url = https://github.com/px57/dj-kernel
